* {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    border-color: silver;
}

/*************************************************************/


input, select, textarea
{
    border:1px solid silver;
    border-color: silver !important;
}


body
{
    zoom:110%;
}
.fuente td, .fuente th 
{
    font-size:12px;
}

.fuente2 td, .fuente2 th 
{
    font-size:12px;
}

.fuentediv 
{
    font-size:12px;
}

textarea {
    resize:none;

}


/******************************************************************************/

.tdi
{
    width:1px;
    text-align:left;
    vertical-align:middle;
    white-space:nowrap;
}

.tdc
{
    width:1px;
    padding-left:3px;
    padding-right:3px;
    vertical-align:middle;
}

.tdd
{
    padding-right:2px;
    vertical-align:middle;
}


.tdd input, .tdd select
{
    width:100%;
    padding:0px;
    margin:0px;

    /*text-transform:uppercase;*/
    line-height:20px;
    height:20px;
}  

.tdd textarea
{
    width:99%;

}

/********************************************************/

.acciones
{
    margin-top:10px;
    text-align:right;
    border-top:1px solid silver;

}
.dlg-acciones
{
    margin-top:10px;
    text-align:right;
}

.titulo
{
    font-size:12pt;
    font-weight:bold;
    margin:5px 0;
    text-transform:uppercase;
}

/********************************************************/
.tabla_dato 
{	
}

.tabla_dato  td
{
    border:1px solid #eee;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
table .ui-icon  {

    display:inline-block;
    background-color:white;	
    border:1px solid white;	
    float:right ;
    margin-top:0px

}
table .ui-icon:hover {
    border:1px solid  #dadada;
}

.div_chk
{
    display:inline-block;
    width:180px
}


.titulo-contenido
{
    font-size:18pt;
    font-weight:bold;
}

/* ************************************************************************************** */

a{
    text-decoration:none;
}
body
{
    /*
    background-color:#F5F9F7;
    background-color:#F8FBFA;
    */

    background-color:#FBFBFB;
    margin:0;
    padding:0;
    overflow-y:scroll;

}
div.body
{
    /*
    width:960px;
    */
    width:980px;
    margin:auto;


}

div.container, div.pie
{

    padding:5px 10px;
    background-color:white;
    /*
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 0px 6px 0px;
    */
}

div.pie 
{
    margin-top:5px;
    text-align:center;
    color:#666;
    background-color:#f0f0f0
}

div.content
{
    min-height:300px;

} 


div.progreso
{
    text-align:center;
    font-weight:bold;
}

/********************************************************/
.boton-busqueda
{
    float:right;
    height:14px; 
    width:14px; 
    margin:3px 6px 3px 0px;
    padding:1px 3px 3px 3px; 
    border-radius:5px; 
    cursor:pointer
}

.boton-icono {
    display: inline-block;
    height:14px; 
    width:14px;
    margin:2px;
    padding:0px 2px 3px 3px; 
    border-radius:5px; 
    cursor:pointer   
}

.div-form-busqueda
{
    display:none;
    padding:5px;
}

.vacio {
    color:#999;
}


.titulo-formulario
{
    height:26px; 
    line-height:26px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom:none
}
.titulo2
{
    line-height:26px;
    text-align:center;
    border:0 !important
}


.titulo-formulario div
{
    text-align:center; 
    font-weight:bold; 
    font-size:12pt
}

/*******************************************************************************/

.tabla_soporte {
    width: 100%; 
    margin-top: 10px; 
    border-collapse: collapse; 
    border:1px #ccc solid;
}

.tabla_soporte tr:nth-child(2n+3) {
    background: rgba(200, 200, 200, 0.2);

}

.tabla_soporte tr td:nth-child(2), .tabla_soporte tr td:nth-child(3)
{
    width: 20px  ; 
}


.contenedor-listado {
    height:300px; 
    overflow: auto;
    border:1px solid silver;
}


.tabla-listado {
    width:100%; 
    border-collapse: collapse
}

.tabla-listado tr:nth-child(even) {
    background: rgba(200, 200, 200, 0.2);
}

.tabla-titulo-listado {
    width:100%; 
    border-collapse: collapse; 
    border-left:1px solid silver;
    border-right:1px solid silver;
}