.bTable td{
  white-space: normal !important;
}
.bTable th{
  white-space: normal !important;
}
.dataTables_scrollHeadInner{
  width: 100% !important;
}
.dataTable {
  width: 100% !important;
}
.navigation .navigation-menu-tab{
      background: linear-gradient(65deg, #183178 0%, #4d7aa1 100%) !important;
} 
.crud-header{
    background: linear-gradient(65deg, #183178 0%, #4d7aa1 100%) !important;
    color: #fff !important;
}
.crud-header i{
  color: #fff !important;
}

.highcharts-credits{
  display: none !important;
}
 
      .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
            background: linear-gradient(65deg, #183178 0%, #4d7aa1 100%);
            border: none !important;
                border-radius: 10px 0px 0px 0px;
      }
      .hDiv, .fDiv {
           background: linear-gradient(65deg, #183178 0%, #4d7aa1 100%) !important;
           border: none !important; 
           color: white;
      }
      .hDiv *, .fDiv * {
         color: #fff !important;
         font-weight: bold;
      }
      .ui-widget-header {
          border: none;
          background: linear-gradient(65deg, #183178 0%, #4d7aa1 100%) !important;
          color: #fff !important;
          font-weight: bold;
      }
      .ui-widget-content {
         border: 1px solid #1e571e;
         color: #222;
         padding: 10px;
         max-height: 100% !important;
         overflow: hidden;
      }

      .ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    border-bottom: 1px solid #ddd !important;
}

.hTable th {
     border-left: 1px outset !important;
     border-right: none !important;
     border-top: none !important;
    padding: 0 3px;
}

.fDiv {
    border-top: 1px #494437 solid;
    padding-top: 4px;
    height: 35px;
  }
.bDiv{
    height: 320px; 
}
.page{
      color: black !important;
}
.alertify-logs {
    position: fixed;
    z-index: 99999;
}
.boton-busqueda{
    position: absolute;
    height: 40px;
    min-width: 40px;
    width: 40px;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 0px 10px 10px 0px;
    background: rgba(73, 136, 71, 0.62);
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.bTable tr.selected {
       background: linear-gradient(65deg, #9eb3ed 0%, #4a6b87 100%) !important;
}
@media screen and (min-width: 1367px) {
    .bDiv {
      min-height: 500px;
    }
    .div-form-busqueda .acciones{
      height: 50px;
      bottom: 40px;
      position: inherit !important;
      right: 25px;
      padding: 5px;
    }
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #286227;
    outline: 0;
}

.SumoSelect {
    width: 100% !important;
}


@media screen and (min-width: 1367px) {
    .bDiv {
      min-height: 500px;
    }
    .div-form-busqueda .acciones{
      height: 50px;
      bottom: 40px;
      position: inherit !important;
      right: 25px;
      padding: 5px;
    }
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #286227;
    outline: 0;
}

.SumoSelect {
    width: 100% !important;
}
  .form-group{
    width: 100% !important;
  }

.control-sidebar label{
    line-height: 1.42857143;
    color: #fff;
    font-weight: 400;
}


.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px !important;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.SumoSelect > .CaptionCont {
    padding: 11px;
    border: 1px solid #d5dcec !important;
}

.navbar.horizontal-layout .nav-bottom {
 box-shadow:  1px 0px 20px rgb(65, 127, 63) !important;

}

.horizontal-menu .top-navbar {
      background: #176f62;
      height: 70px;
      background-color: #003300 !important;
      background: linear-gradient(65deg, #003300 0%, #4c8c4a 100%);
    }

  .horizontal-menu  .ui-button {
    padding: 3px !important;
    border: none !important;
    background: transparent !important;
}


.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: none;
    white-space: nowrap;
    line-height: 26px;
    color: black !important;
    text-decoration: none;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    background-image: none;
    background-image: none;
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: none;
}


.navbar .navbar-menu-wrapper {
    background: #ffffff;
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #fff !important;
    padding-left: 2.55rem;
    padding-right: 2.55rem;
    width: calc(100% - 237px);
    height: 70px;
}
@media only screen and (max-width: 768px) {
  .movil {
    display: none
  }
  .content-wrapper{
        max-width: 100% !important;
    }
}

.sidebar {
    min-height: calc(100vh - 70px);
    background: #ededed;
    font-family: "Roboto", sans-serif;
    font-weight: normal !important;
    padding: 0;
    width: 237px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
}

.navbar {
    font-weight: 400;
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    -webkit-box-shadow: 0 5px 21px -5px #cdd1e1;
    -moz-box-shadow: 0 5px 21px -5px #cdd1e1;
    box-shadow: 0 5px 21px -5px #013401 !important;
}
.ui-menu-item-wrapper{
  font-size:12px !important;
}

.sidebar-dark .sidebar .nav .nav-item .nav-link {
    color: #ffffff;
}
.sidebar-dark .sidebar .nav:not(.sub-menu) > .nav-item .nav-link[aria-expanded="true"] {
    background: #265f25 !important;
}
.sidebar-dark .sidebar .nav.sub-menu {
    background: #1b521a !important;
}
.sidebar .nav.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding: 0.25rem 0 0 1.07rem !important;
    background: #e7e7e7;
    padding-bottom: 12px;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #013401  !important;
    background: #e7e7e7  !important;
}

.sidebar-dark .sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
    background: #407e3e !important;
    color: #ffffff !important;
}
.sidebar .nav:not(.sub-menu) > .nav-item.active {
    background: #1b521a !important;
    border-radius: 0.437rem;
}
.sidebar-dark .sidebar .nav .nav-item.active > .nav-link .menu-title, .sidebar-dark .sidebar .nav .nav-item.active > .nav-link i {
    color: #ffffff !important;
}
.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link {
    color: #ffffff !important;
}
#navbar-search-input::placeholder { color: white; }